body {
    background-color: lightgreen;
    margin: 0;
}

.container {
    padding: 20px;
    gap: 20px;
}

.vertical {
    border-left: 6px solid white;
    height: 110%;
    position:absolute;
    /* top: 50%; */
    left: 50%;
    z-index: -1;
}

#top-box {
    font-family: Arial, sans-serif;background-color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    font-family: Arial, sans-serif;
}

#kinect-window {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    grid-column: 2/3;
    grid-row: 2/3;
    block-size: 35%;
}

#breathing-image {
    width: 45%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

#multi-breathing-image {
    width: 45%;
    float: right;
    padding: 50px;
    box-sizing: border-box;
}
  
#breathing-image img {
    display: block;
    width: 55%;
    height: auto;
    margin-left: 15%;
}

#multi-breathing-image img {
    display: inline-block;
    width: 40%; /* adjust as needed */
    margin-right: 10px; /* adjust as needed */
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }

#breathing-caption, #multi-breathing-caption {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

#koala-main-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: auto;
}

#first-txt {
    position: absolute;
    top: 17px;
    left: 20px;
}

#koala {
    position: relative;
  }
  
  #koala img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
  }
  
  #results {
    position: absolute;
    bottom: 13%;
    right: 34%;
    font-size: 1.85vw;
    font-family: Arial, sans-serif;
    color: black; 
  }



