body {
    background-color: lightskyblue;
    font-family: Arial, sans-serif;
    color: white;
}


#kinect-window {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    grid-column: 2/3;
    grid-row: 2/3;
    block-size: 30%;
}

/* #koala {
    width: 40%;
    float: left;
    padding: 60px;
    box-sizing: border-box;
    margin-top: 10px;
}

#home {
    width: 40%;
    float: right;
    margin-top: 40px;
    padding: 40px;
    box-sizing: border-box;
} */
#koala {
    width: 40%;
    float: left;
    padding: 60px;
    box-sizing: border-box;
    margin-top: 10px;
}

#home {
    width: 45%;
    float: right;
    margin-top: 40px;
    padding: 60px;
    box-sizing: border-box;
}

  