body {
    background-color: lightskyblue;
    font-family: Arial, sans-serif;
    color: white;
}


#kinect-window {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    grid-column: 2/3;
    grid-row: 2/3;
    block-size: 30%;
}

#koala-main-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
}

#koala-message {
    background-color: white;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: black;
}

  