<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Select Activity</title>

    <link rel="stylesheet" type="text/css" href="static/css/activity-choice.css">
    <script src="https://cdn.jsdelivr.net/npm/p5@1.6.0/lib/p5.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>

  </head>
  
  <body>
    <div class = "vertical"></div>
    <div class="container">
      <div id="kinect-window">
        <img class="twod" height="300px"/>
      </div>
      <div id="top-box">
        Stand on either side to select an activity.
      </div>

        <div id="stretching-image">
          <img src="static/images/stretching.png" alt="Person stretching">
          <div id="stretching-caption">
            Stretching to improve flexibility + move your body!
          </div>
        </div>
        
        <img id="koala-image" src="static/images/koala-sitting.webp" alt="Koala">
        
        <div id="breathing-image">
          <img src="static/images/breathing.png" alt="Breathing silhouette">
          <div id="breathing-caption">
            Breathing exercises to center yourself + relax!
          </div>
        </div>
      </div>
    </div>
    
    <script src="static/js/sketch.js"></script>
  </body>
</html>