
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Reward Pet</title>

    <link rel="stylesheet" type="text/css" href="static/css/reward.css">
    <script src="https://cdn.jsdelivr.net/npm/p5@1.6.0/lib/p5.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>

</head>

<body>
<div class="container">
    <div id="kinect-window">
        <img class="twod" height="100%"/>
    </div>
    <div id="top-box">
        Awesome!
        <br>Gesture left with your right hand or right with your left hand to interact with your pet!
    </div>
    <div id="koala-pet">
        <img id="koala-start-pose" src="static/images/koala-sitting.webp" alt="Koala raising its hand saying hi!">
    </div>
</div>

<script src="static/js/reward_pet.js"></script>
</body>
</html>