<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Select Reward</title>

  <link rel="stylesheet" type="text/css" href="static/css/reward.css">
  <script src="https://cdn.jsdelivr.net/npm/p5@1.6.0/lib/p5.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>

</head>

<body>
  <div class="vertical"></div>
  <div class="container">
    <div id="kinect-window">
      <img class="twod" height="100%" />
    </div>
    <div id="top-box">
     Congratulations on completing the activity! To access your reward, extend your right arm to the left side of your body.
     <br> To return home, extend your left arm to the right side of your body.
    </div>

    <div id="koala">
      <img src="static/images/koala-sitting.webp" alt="koala-sitting" style="width:70%">
      <div id="koala-caption">
        Play with me!
      </div>
    </div>

    <div id="home">
      <img src="static/images/home.png" alt="home icon" style="width:70%">
    </div>
  </div>

<script src="static/js/reward_origin.js"></script>
</body>

</html>