<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Welcome!</title>

    <link rel="stylesheet" type="text/css" href="static/css/reward.css">
    <script src="https://cdn.jsdelivr.net/npm/p5@1.6.0/lib/p5.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
</head>
  
  <body class="reward-page">
      
    <div class="container">
        <div id="kinect-window">
            <img class="twod" height="100%"/>
        </div>
        <div id="koala-message">
            Hi! Let's play with me. Please raise your hand to begin.
        </div>

        <img id="koala-main-image" src="static/images/koala-raised-hand.webp" alt="Koala raising its hand saying hi!">
    </div>

    <script src="static/js/sketch.js"></script>
  </body>
</html>
