<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Stretching: Select Player Mode</title>

    <link rel="stylesheet" type="text/css" href="static/css/stretch-player-mode.css">
    <script src="https://cdn.jsdelivr.net/npm/p5@1.6.0/lib/p5.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
  
    </head>
  
  <body>
    <input id="choice" hidden value="stretch">
    <div class = "vertical"></div>
    <div class="container">
        <div id="kinect-window">
            <img class="twod" height="100%"/>
        </div>
        <div id="top-box">
            To select one player, extend your right arm to the left side of your body.
            <br> To select two players, extend your left arm to the right side of your body.
        </div>

        <div id="middle-line">

        <div id="stretching-image">
            <img src="static/images/stretching.png" alt="One person stretching">
            <div id="stretching-caption">
                One Player
            </div>
        </div>
        
        <img id="koala-image" src="static/images/koala-sitting.webp" alt="Koala">
     
        <div id="multi-stretching-image">
            <img id="person-one" src="static/images/stretching.png" alt="Two people stretching">
            <img id="person-two" src="static/images/stretching.png" alt="Two people stretching">
            <div id="multi-stretching-caption">
                Two Players
            </div>
        </div>
    </div>
    </div>>
    
    <script src="static/js/player_mode.js"></script>
  </body>
</html>
