<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Welcome!</title>

  <link rel="stylesheet" type="text/css" href="static/css/welcome.css">
  <script src="https://cdn.jsdelivr.net/npm/p5@1.6.0/lib/p5.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
</head>

<body class="welcome-page">

  <div class="container">
    <div id="game-message">
      Wellness Study Break
      <br> Created by Group 32 for CPSC 484/584
    </div>

    <div id="kinect-window">
      <img class="twod" height="100%" />
    </div>
    <div id="start-message">
      To begin, please raise your left hand.
    </div>
    <img id="koala-main-image" src="static/images/koala-raised-hand.webp" alt="Koala raising its hand saying hi!">

    <div id="koala-message">
      You'll get to play with me if you use this break to engage in a mindful activity :)
    </div>

  </div>

  <script src="static/js/welcome.js"></script>
</body>

</html>